// Search form
.search-form {
  /*@extend .form-inline;*/
}
.search-form label {
  font-weight: normal;
  /*@extend .form-group;*/
}
.search-form .search-field {
  /*@extend .form-control;*/
}
.search-form .search-submit {
  /*@extend .btn;*/
  /*@extend .btn-default;*/
}



.gform_wrapper {
  margin: 0;
}

.gform_body {
  width: 100% !important;
}

.red {
  color: #d12618;
}

.gform_fields {
  margin-left: -10px !important;
  margin-right: -10px !important;
  li {
    padding-left: 10px;
    padding-right: 10px !important;
    margin: 0 0 20px 0;

    input {
      width: 100%;
    }
  }
}

.gform_wrapper .top_label div.ginput_container {
  margin-top: 0;
}



.half_input {
  float: left;
  width: 50%;
  display: inline-block;

  clear: none;



  input {
    width: 100% !important;
  }
}

label {
  font-family: 'Montserrat-Light';
  font-weight: normal !important;
  display: block !important;
  font-size: 15px;
  color: #5e5e5e;
  line-height: normal !important;
  margin-bottom: 4px;
}

br,
p:empty {
  display: none;
}

textarea,
input[type="text"],
input[type="email"],
input[type="tel"] {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.13);
  width: 100%;
  background: #fff;
  border: 1px solid #e3e3e3;
  height: 39px;
  padding-left: 15px;
  line-height: 39px;
}

textarea {
  height: 109px;
  line-height: normal;
  margin-bottom: 15px;
}

.w-submit {
  display: inline-block;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    border: 1px solid #fff;
    opacity: 0.3;
    pointer-events: none;
    left: 2px;
    top: 2px;
    bottom: 2px;
    right: 2px;
    z-index: 10;
  }
}

.btn_submit {
  border: 0;
  font-size: 13px;
  color: #fff !important;
  width: 195px;

  background-color: #4da4cc;
  border-radius: 0;
  height: 50px;
  line-height: 50px;
  margin: 0;
  text-transform: uppercase;
}