//200
@font-face {
  font-family: 'Montserrat-Thin';
  src: url('../fonts/Montserrat-Thin.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
} 

// 300
@font-face {
  font-family: 'Montserrat-Light';
  src: url('../fonts/Montserrat-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
} 

// 500
@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../fonts/Montserrat-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
} 

// 600
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../fonts/Montserrat-SemiBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
} 


body {
  font-family: 'Montserrat', sans-serif;
  color: #5e5e5e;
  background: #fcfcfc;
}

@media (min-width: 1200px) {
  .container {
    width: 1125px;
  }
}

.col-centered {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

a {
  color: #4da4cc;
  &:hover {
    color: inherit;
  }
}

.row {
  margin-left: -10px;
  margin-right: -10px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-left: 10px;
  padding-right: 10px;

}

.container {
  padding-left: 10px;
  padding-right: 10px;
}