body {
  font-family: 'Roboto', sans-serif;
}

.slick-slide:focus {
  outline: none !important;
}

.wpml-ls-item-en {
  margin-left: 8px !important;
  a {
    font-size: 0;
    width: 31px;
    height: 31px;
    text-decoration: none !important;
    /*background: url(../images/lang-en.png);*/
    background: url(../images/en-off.svg);
    background-repeat: no-repeat;
    text-decoration: none !important;
    background-size: contain;
  }

  &.wpml-ls-current-language {
    a {
      /*background: url(../images/lang-en-a.png);*/
      background-image: url(../images/en-on.svg);    
    }
  }
}

.wpml-ls-item-pt-pt {
  a {
    font-size: 0;
    width: 31px;
    height: 31px;
    text-decoration: none !important;
    background-image: url(../images/pt-off.svg);
    text-decoration: none !important;
    background-repeat: no-repeat;
    text-decoration: none !important;
    background-size: contain;
  }

  &.wpml-ls-current-language {
    a {
      background-image: url(../images/pt-on.svg);
    }
  }
}

.header_push {
  padding-top: 179px;
}

#header {
  background: #fff;

  text-align: right;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,.05);
  height: 179px;
  z-index: 10;


  .inner {
    position: relative;
  }


  .logo {
    position: absolute;
    left: 0;
    top: 42px;
    text-decoration: none;
  }


  .header__cta {
    position: absolute;
    right: 0;
    top: 40px;

    p {
      color: #EE7B0F;
      margin: 0;
      font-family: Roboto;
      font-size: 20px;
    }
  }
}


.wpml-ls {
  position: absolute;
  top: 74px;
  right: 0;

}

.navbar-default {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;

  position: absolute;
  top: 144px;
  right: 0;
}


.navbar-default .navbar-collapse, 
.navbar-default .navbar-form {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;


  ul {
    padding: 0;
    font-size: 0;
    li {
      list-style: none;
      margin: 0 13px;
      display: inline-block;

      a {
        font-family: arial;
        text-transform: uppercase;
        font-size: 15px;
        line-height: 20px;

        color: #5c686d;
        text-decoration: none !important;

        &:hover {
          color: #85cddb;
        }
      }
    }
  }
}


.static {
  position: static;
}

// BANNER


.banner {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 670px;
  position: relative;
  z-index: 5;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../images/banner-bottom.png') no-repeat 50% 0;
    height: 96px;

  }

  .inner {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

  }

  .content {
    max-width: 875px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  h1 {
    font-size: 70px;
    color: #fff;
    margin: 0;
    margin-bottom: 32px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 100%;
  }

  h2 {
    font-size: 25px;
    color: #8ccfdd;
    margin: 0;
    margin-bottom: 36px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 100%;
  }

  .btn_banner {
    text-decoration: none !important;
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid #fff;
    line-height: 42px;
    height: 42px;
    width: 160px;
    color: #fff;
    font-family: arial;
    transition: .2s all;

    &:hover {
      background: #fff;
      color: #8ccfdd;
    }

  }
}



// TEAM

.team {
  padding-top: 68px;
  overflow: hidden;
  text-align: center;

  .title {
    display: block;
    margin: 10px;
    color: #5C686D;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    margin: 0 0 2px;
  }

  .subtitle {
    display: block;
    margin-bottom: 42px;

    font-family: Open Sans;
    font-weight: 600;
    color: #5C686D;
    font-size: 17px;
    text-transform: uppercase;
  }


  .slick_ar {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 150px;
    cursor: pointer;

    &.prev {
      left: 0;
      background: url('../images/ar-b-l.png');
      background-size: contain;
    }

    &.next {
      right: 0;
      background: url('../images/ar-b-r.png');
      background-size: contain;
    }
  }


}

.team_members {
  font-size: 0;

  .item {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: -2000px;
      width: 2000px;
      top: 230px;
      background: #8ccfdd;
      z-index: -1;

    }
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: -2000px;
      width: 2000px;
      top: 230px;
      background: #8ccfdd;
      z-index: -1;

    }

  }

  .m_descr {
    background: #8ccfdd;
    min-height: 450px;
    padding-top: 31px;
  }

  .m_title {
    color: #0292A5;
    font-size: 15px;
    line-height: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    display: block;
    text-align: center;
    padding-bottom: 8px;

  }

  .m_position {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .5px;
    line-height: 17px;
    color: #fff;
    display: block;
    margin-bottom: 20px;
    text-align: center;
  }

  .content {
    padding: 0 15px;
    text-align: left;

    p {
      font-family: Roboto;
      font-size: 15px;
      line-height: 18px;
      color: #5c686d;
    }
  }


  .w_image {
    position: relative;
    height: 230px;
    width: 100%;
    img {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }


}


div.wpcf7-validation-errors,
div.wpcf7-response-output {
  color: #fff;
}


div.wpcf7 .ajax-loader {
  display: none !important;
}

// ABOUT

.about {
  padding-top: 68px;
  padding-bottom: 80px;
  overflow: hidden;
  text-align: center;

  .title {
    display: block;
    margin: 10px;
    color: #5C686D;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    margin: 0 0 2px;
  }

  .subtitle {
    display: block;
    margin-bottom: 62px;

    font-family: Open Sans;
    font-weight: 600;
    color: #5C686D;
    font-size: 17px;
    text-transform: uppercase;
  }



  .images {
    font-size: 0;
    padding-left: 5px;
    padding-right: 5px;
  }



  .col_3 {
    text-align: left;

    p {
      color: #5c686d;
      font-size: 15px;
      line-height: 18px;
      font-family: 'Roboto', sans-serif;
      padding-left: 5px;
      padding-right: 5px;
    }


    p:first-of-type {
      color: #2992a4;

      font-size: 20px;
      line-height: 24px;
      margin-bottom: 30px;

    }


  }


  .col {
    width: 25%;
    display: inline-block;
    padding: 5px;
    vertical-align: top;

    &.col_1 {
      padding-top: 45px;
    }


    &.col_3 {
      img {
        margin-bottom: 20px;
      }
    }


    &.col_4 {
      padding-top: 150px;
    }

    img {
      max-width: 100%;
      margin-bottom: 10px;
      width: 100%;
    }
  }

}



// ABOUT

.services {
  padding-top: 68px;
  overflow: hidden;
  padding-bottom: 100px;
  text-align: center;
  background: #f4a874;

  .title {
    display: block;
    margin: 10px;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    margin: 0 0 2px;
  }

  .subtitle {
    display: block;
    margin-bottom: 62px;

    font-family: Open Sans;
    font-weight: 600;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
  }


  .inner {
    position: relative;

  }


  .service_list {



    img {
      margin-bottom: 15px;
    }

  }

  .m_title {
    display: block;
    font-family: Roboto;
    color: #8a7b6f;
    font-size: 15px;
    line-height: 23px;
    text-transform: uppercase;

    margin-bottom: 20px;
  }

  .content {
    font-family: Roboto;
    font-weight: 400;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    p {
      font-family: Roboto;
      font-weight: 400;
      color: #fff;
      font-size: 14px;
      line-height: 18px;
    }
  }

  .item {

    text-align: center;
  }


  .item_inner {
    width: 224px;
    display: inline-block;
  }

  .slick-slide img {
    display: inline-block;
  }


  .slick-slide:focus {
    outline: none;
  }



  .slick_ar {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    cursor: pointer;
    z-index: 10;

    &.prev {
      left: 0;
      background: url('../images/arr-prev.png');
    }

    &.next {
      right: 0;
      background: url('../images/arr-next.png');
    }
  }



} // services



.advices {
  padding-top: 68px;
  overflow: hidden;
  padding-bottom: 100px;
  text-align: center;
  background: #fbe2d1;

  .title {
    display: block;
    margin: 10px;
    color: #5C686D;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    margin: 0 0 2px;
  }

  .subtitle {
    display: block;
    margin-bottom: 62px;

    font-family: Open Sans;
    font-weight: 600;
    color: #5C686D;
    font-size: 17px;
    text-transform: uppercase;
  }


  .inner {
    position: relative;

  }


  .advice_list {




    img {
      border: 3px solid #fff;
      border-radius: 100%;
      max-width: 350px;
    }

  }

  .m_title {
    display: block;
    color: #F4A874;
    font-size: 17px;
    font-weight: bold;
    line-height: 17px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 8px;
  }

  .content {
    font-family: Roboto;
    font-weight: 400;
    color: #5C686D;
    font-size: 14px;
    line-height: 18px;

    padding-top: 50px;
    p {
      font-family: Roboto;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      color: #5C686D;
    }
  }

  .item {
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;
  }




  .slick-slide img {
    display: inline-block;
  }


  .slick-slide:focus {
    outline: none;
  }



  .slick-dots li.slick-active button {
    background: #fb458f;
  } 

  .slick_ar {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    cursor: pointer;
    z-index: 10;

    &.prev {
      left: 0;
      background: url('../images/ar-prev-o.png');
      background-size: contain;
    }

    &.next {
      right: 0;
      background: url('../images/ar-next-o.png');
      background-size: contain;
    }
  }



} // advices




.testimonials {
  padding-top: 68px;
  overflow: hidden;
  padding-bottom: 100px;
  text-align: center;
  background: #fff;

  .title {
    display: block;
    margin: 10px;
    color: #5C686D;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    margin: 0 0 2px;
  }

  .subtitle {
    display: block;
    margin-bottom: 62px;

    font-family: Open Sans;
    font-weight: 600;
    color: #5C686D;
    font-size: 17px;
    text-transform: uppercase;
  }


  .inner {
    position: relative;

  }


  .testimonials_list {
    text-align: center;




    img {
      border-radius: 100%;
      max-width: 200px;
      margin-bottom: 20px;
    }

  }

  .m_title {
    display: block;
    color: #5C686D;
    font-size: 15px;
    font-weight: bold;
    line-height: 15px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0;

    span {
      color: #EE7B0F;
    }
  }

  .content {
    font-family: Roboto;
    font-weight: 400;
    color: #5C686D;
    font-size: 14px;
    line-height: 18px;
    padding-left: 60px;
    padding-right: 60px;

    padding-top: 10px;
    p {
      font-weight: 300;
      font-size: 20px;
      line-height: 30px;
      color: #5C686D;
      font-family: 'Open Sans', sans-serif;
    }
  }


  .item .row {
    .col-md-6:first-child .content:after {
      position: absolute;
      right: 0;
      content: '';
      top: 40px;
      bottom: 100px;
      width: 1px;
      background: #ccc;
    }
  }



  .slick-slide img {
    display: inline-block;
  }


  .slick-slide:focus {
    outline: none;
  }







} // testimonials

.appointments {

  padding-top: 68px;
  overflow: hidden;
  padding-bottom: 75px;
  text-align: center;
  background: #fff;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  .title {
    display: block;
    margin: 10px;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    margin: 0 0 2px;
  }

  .subtitle {
    display: block;
    margin-bottom: 20px;

    font-family: Open Sans;
    font-weight: 600;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
  }

  .inner {
  }

  .text {
    color: #8CCFDD;
    font-weight: 400;
    font-family: Open Sans;
    letter-spacing: .5px;
    line-height: 16px;
    font-size: 16px;
    display: block;
    margin-bottom: 50px;
    text-align: center;
  }

  .w_form {
    margin-bottom: 50px;
    padding-left: 55px;
    padding-right: 55px;
    position: relative;


    .sent_text {
      position: absolute;
      display: none;
      top: 50px;
      border: 0;
      left: 0;
      right: 0;
      color: #8CCFDD;
      font-weight: 400;
      font-family: Open Sans;
      line-height: 16px;
      font-size: 16px;

      span {
        display: block;
        color: #fff !important;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 8px;
      }
    }

    &.sent {
      .row {
        visibility: hidden;
      }

      .sent_text {
        display: block;
      }
    }




    .wpcf7-mail-sent-ok {
      display: none !important;
    }

    ::-webkit-input-placeholder {
      color: #fff;
    }

    ::-moz-placeholder {
      color: #fff;
    }

    :-ms-input-placeholder {  
      color: #fff;
    } 

    input[type="text"],
    input[type="tel"],
    input[type="email"],
    textarea {
      background: none;
      border: 1px solid #fff;
      padding-left: 5px;
      margin-bottom: 80px;
      height: 32px;
      line-height: 30px;
      color: #fff;
      width: 100%;
    }

    input[type="email"] {
      margin-bottom: 40px;
    }


    p:empty,
      br {
      display: none;

    }

    textarea {
      margin-bottom: 0;
      line-height: 17px;
      height: 256px;
    }

    [type="submit"] {
      text-transform: uppercase;
      background: none;
      border: 1px solid #fff;
      height: 39px;line-height: 39px;
      margin: 0;
      padding: 0 30px;
      text-align: center;
      color: #fff;
      font-family: Open Sans;
      font-weight: 300;
      font-size: 17px;

      /*      &:hover {
              background: #fff;
              color: #8ccfdd;
            }*/
    }
  }



  .subscribe_form {
    width: 80%;
    margin: 0 auto;
    background: #8ccfdd;
    padding: 20px;

    .sent_text {
      display: none;
    }

    &.sent {
      .w_input {
        visibility: hidden;
      }

      .sent_text {
        display: block;
        font-family: Roboto;
        font-weight: 400;
        color: #fff;
        font-size: 16px;
        line-height: 18px;
        margin-top: -40px;
        span {
          color: #5c686d;
          font-family: Open Sans;
          font-weight: 600;
          font-size: 17px;
          display: block;
        }
      }
    }

    div.wpcf7-validation-errors,
    div.wpcf7-mail-sent-ok {
      display: none !important;
    }

    .your-email span.wpcf7-not-valid-tip {
      top: 4px;
    }


    .w_input {
      position: relative;
      .sb_email {
        width: 100%;
        color: #5C686D;
        background: #fff;
        padding-left: 15px;
        height: 45px;
        line-height: 45px;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
        font-size: 14px;
        border: 0;
      }



      [type="submit"] {
        position: absolute;
        right: 0;
        top: 0;

        z-index: 5;
        border: 0;
        margin: 0;
        height: 45px;
        line-height: 45px;
        text-transform: uppercase;
        width: 60px;
        text-align: center;
        color: #8ccfdd;
        font-family: Raleway;
        font-weight: 600;
        letter-spacing: .5px;
        font-size: 20px;
        background: #5c686d;
      }

    }


    .sb_label {
      display: block;
      text-transform: uppercase;
      color: #5c686d;
      font-family: Open Sans;
      font-weight: 600;
      font-size: 17px;
    }

    .sb_text {
      display: block;
      font-family: Roboto;
      font-weight: 400;
      color: #fff;
      font-size: 14px;
      line-height: 18px;
    }
  }



} // appointments




.contacts {

  .row_contacts {
    text-align: center;
    margin-bottom: 20px;

    a {
      color: #5C686D;
      text-decoration: none !important;
    }
    img {
      display: block;
      margin: 0 auto 5px;
    }
  }


  .w_img {
    height: 40px;
  }

  .text {
    color: #5C686D;
  }

  .inner {
  }

  .sb__facebook {
    display: block;
    text-align: center;

    iframe {
      display: inline-block;
      position: static;
    }

    .cff-likebox {
      float: none !important;
    }
  }

  .cff-header {
    display: none !important;
  }

  .cff-likebox .fb_iframe_widget span {
    width: auto !important;
  }

  .w_map {
    margin-top: 40px;
    margin-bottom: 0;

    iframe {
      width: 100% !important;
    }
  }

  padding-top: 68px;
  overflow: hidden;
  padding-bottom: 75px;
  text-align: center;
  background: #fff;


  .title {
    display: block;
    margin: 10px;
    color: #5C686D;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    margin: 0 0 2px;
  }

  .subtitle {
    display: block;
    margin-bottom: 40px;

    font-family: Open Sans;
    font-weight: 600;
    color: #5C686D;
    font-size: 17px;
    text-transform: uppercase;
  }





} // contacts



// FOOTER

#footer {
  background: #324349;
  padding-top: 40px;

  .footer__text_1 {
    text-align: right;
    @include clearfix();
    color: #7b8186;
    font-size: 11px;

    img {
      float: right;
      margin-left: 10px;
      margin-top: -5px;
    }

  }

  .bottom_text_f {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    p {
      color: #5C686D;
      font-size: 13px;
      line-height: 13px;
      font-family: 'Roboto', sans-serif;
      a {
        color: #5C686D;
      }
    }
  }

  .row_details {
    margin-top: 50px;
  }

  .footer_cta {
    text-align: right;
    p {
      color: #9DA4A7;
      font-size: 20px;
      line-height: 20px;
      padding-top: 20px;
    }
  }

  .footer-navigation {
    text-align: right;
    font-size: 0;
    li {
      display: inline-block;
      list-style: none;
      margin: 0 12px;
      a {
        color: #9da4a7;
        text-decoration: none !important;
        font-size: 15px;
        text-transform: uppercase;
        line-height: 20px;

        &:hover {
          color: #fff;
        }
      }
    }
  }



  .footer__bottom {
    background: #1f2a2d;
    padding-top: 30px;
    padding-bottom: 30px;

    .col_l {
      p {
        margin: 0;
        color: #5C686D;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        line-height: 15px;
      }
    }

    .col_r {
      text-align: right;

      a {
        color: #5C686D;
        text-decoration: none !important;
        font-size: 15px;
        line-height: 15px;

        font-family: 'Roboto', sans-serif;
      }
    }
  }

}


