@media screen and (min-width:1200px) {
  .container {
    width: 1000px;
  }
}

@media screen and (min-width:992px) {
  .testimonials_list_mobile {
    display: none;
  }

  span.wpcf7-not-valid-tip {
    top: -76px;
    position: relative;
    text-align: left;
  }

  .your-email {
    span.wpcf7-not-valid-tip {
      top: -36px;
    }
  }
}


@media screen and (min-width:992px) {
  .banner_tablet,
  .footer_cta_tablet {
    display: none;
  }
}

@media screen and (max-width:991px) {
  .testimonials_list_desktop,
  .footer_cta_desktop {
    display: none;
  }

  .appointments .subscribe_form .sb_text {
    margin-bottom: 20px;
  }

  .banner_desktop {
    display: none;
  }

  .banner .content {
    h1 {
      font-size: 63px;
      span {
        display: block;
      }
    }

    h2 {
      font-size: 16px;
    }
  }

  .banner {
    height: 497px;
    &:after {
      background-size: contain;
      width: 602px;
      left: 50%;
      right: auto;
      transform: translateX(-50%);
      height: 72px;
    }
  }


  .appointments .w_form {
    padding-left: 0;
    padding-right: 0;
  }

  .about .col {
    width: 50%;
  }

  .about .col.col_1,
  .about .col.col_4 {
    padding-top: 0;
  }

  .appointments .w_form input[type=text],
  .appointments .w_form input[type=tel],
  .appointments .w_form input[type=email],
  .appointments .w_form textarea {
    margin-bottom: 30px;
  }

  .navbar-default .navbar-form ul li a {
    font-size: 13px;
  }

  .navbar-default .navbar-form ul li {
    margin: 0 8px;
  }

  .navbar-default .navbar-collapse ul li {
    margin: 0 7px;
  }

  .navbar-default .navbar-collapse ul li a {
    font-size: 12.5px;
  }

  .team_members .item {
    width: 33%;
  }


  .row_contacts {
    .col-sm-6 {
      height: 150px;
    }
  }

  .advices {
    .slick_ar {
      top: 115px;
    }
    .slick_ar.next {
      right: 120px;
    }
    .slick_ar.prev {
      left: 120px;
    }
  }


  .service_list {

    .slick_ar.next {
      right: 80px;
    }
    .slick_ar.prev {
      left: 80px;
    }
  }

  #footer .footer-navigation li {
    margin: 0 8px;
  }

  #footer .footer-navigation {
    /*    margin-top: 20px;
        text-align: center;*/
    padding-left: 0;
  }

  #footer .footer-navigation li a {
    font-size: 13px;
  }


  .advice_list,
  .service_list {
    padding-left: 120px;
    padding-right: 120px;
    .col-md-5 {
      text-align: center;
    }
  }

  .advices .advice_list img {
    max-width: 200px;
  }

  span.wpcf7-not-valid-tip {
    top: -26px;
  }

  .your-email {
    span.wpcf7-not-valid-tip {
      top: -26px;
    }
  }
}


@media screen and (min-width:768px) {
  .team_members_mobile {
    display: none;
  }
}


@media screen and (max-width:767px) {

  .team,
  .about,
  .advices,
  .testimonials,
  .appointments,
  .contacts,
  .services {
    .title  {
      font-size: 30px;
    }

    .subtitle {
      font-size: 14px;
    }
  }


  #footer {

    padding-top: 15px;
  }

  #footer .footer_cta p {
    font-size: 15px;
    padding-top: 0;
    margin-bottom: 20px;
  }

  .logo_f {
    width: 124px;
    height: auto;
  }

  body.scrolled {

    #header .logo {
      height: 46px;
      overflow: hidden;
    }

    #header {
      height: 55px;
      box-shadow: none;
    }

    #header .header__cta {
      display: none;
    }
  }




  #header {
    height: 122px;
    transition: .2s height;
  }

  .header_push {
    padding-top: 122px;
  }

  #header .logo {
    top: 5px;
    left: 25px;

    img {
      width: 130px;
      height: auto !important;
    }
  }

  .banner {
    height: 339px;
    &:after {
      width: 433px;
      height: 49px;
    }
    .content {
      margin-top: -25px;
      h1 {
        font-size: 40px;
        max-width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 22px;
        span {
          display: inline;
        }
      }
      h2 {
        font-size: 14px;
        margin-bottom: 26px;
      }
    }


  }

  .banner:after {
    /*background-size: contain;*/
        background-size: auto 100%;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }




  .navbar-default .navbar-toggle,
  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:hover {
    background: none;
    padding: 4px 10px;
    margin-top: 12px;
    border: none;
  }

  .navbar-default {
    top: 0;
    &.opened {

      left: 0;
    }
  }

  .navbar-default .navbar-collapse ul, .navbar-default .navbar-form ul {
    background: #fff;
  }

  .navbar-toggle .icon-bar {
    width: 34px;
    background: #5C686D !important;
  }

  .navbar-toggle .icon-bar+.icon-bar {
    margin-top: 7px;
  }

  .navbar-toggle .icon-bar {
    height: 4px;
  }

  #header .header__cta {
    top: 90px;
    right: 25px;
  }

  .wpml-ls {
    top: 0;
    right: 80px;
  }

  .navbar-default .navbar-collapse ul li, .navbar-default .navbar-form ul li {
    display: block;
    margin: 0;
    padding: 10px;
    padding-right: 25px;
  }

  #header .header__cta p {
    font-size: 15px;
  }



  .team_members_desktop {
    display: none;
  }



  .team_members .item:before,
  .team_members .item:after {
    display: none;
  }


  .team .subtitle {
    margin-bottom: 0;
  }

  .services {
    padding-bottom: 40px;
  }

  .team_members .w_image {
    text-align: center;
  }

  .team_members .w_image img {
    position: static;
    display: inline;
  }

  .team_members .m_descr {
    min-height: 0;
    padding-bottom: 40px;
  }


  .footer-navigation {
    display: none;
  }

  #footer .row_details {
    margin-top: 0;
  }

  .about .col {
    width: 60%;
  }

  .footer__bottom {
    text-align: center;
  }

  #footer .footer__bottom .col_r {
    text-align: center;
    margin-top: 20px;
  }

  .row_contacts .col-sm-6 {
    height: auto;
    margin-bottom: 20px;
  }


  .advice_list {
    padding-left: 25px;
    padding-right: 25px;
  }

  .advice_list .slick_ar.next {
    right: 40px;
  }
  .advice_list .slick_ar.prev {
    left: 40px;
  }


}


@media screen and (max-width:568px) {
  .about .col {
    width: 100%;
  }
  
  
   .team,
  .about,
  .advices,
  .testimonials,
  .appointments,
  .contacts,
  .services {
    .title  {
      font-size: 26px;
    }

    .subtitle {
      font-size: 13px;
    }
  }

  #header .logo {
    left: 0;
  }

  #header .header__cta {
    right: 0;
  }

  .navbar-toggle {
    margin-right: 0;
    padding-right: 0;
  }


  .wpml-ls {
    right: 55px;
  }


  .advices .item {
    padding-left: 0;
    padding-right: 0;
  }

  #header .header__cta p {
    font-size: 13px;
  }

  .service_list {
    padding-left: 25px;
    padding-right: 25px;
  }

  .service_list .slick_ar.next {
    right: 0;
  }
  .service_list .slick_ar.prev {
    left: 0;
  }

  .advice_list {
    padding-left: 25px;
    padding-right: 25px;
  }

  .advice_list .slick_ar.next {
    right: 0;
  }
  .advice_list .slick_ar.prev {
    left: 0;
  }


  #footer .col-xs-9 {
    /*width: 100%;*/
    margin-top: 10px;
  }


}

@media screen and (max-width:479px) {
  .banner .content h1 {
    font-size: 30px;
    max-width: 220px;
  }

  .appointments .subscribe_form {
    width: 100%;
  }

  #footer .footer__text_1 img {
    display: none;
  }

  #header .logo {
    left: -10px;
  }

  #footer .footer_cta p {
    font-size: 12px;
  }

  #footer .footer__text_1 {
    font-size: 8px;
  }

  .logo_f {
    width: 106px;
  }

  #footer .footer__bottom .col_l p,
  #footer .footer__bottom .col_r a {
    font-size: 13px;
  }

  #footer .footer__bottom .col_r {
    margin-top: 4px;
  }

  #footer .footer__bottom {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  #header .header__cta,
  .navbar-default {
    right: -10px;
  }

  .wpml-ls {
    right: 45px;
  }

  .banner:after {
    width: 237px;
    height: 30px;
  }

}